# BINANCE API KEY
BINANCE_API_KEY=
BINANCE_SECRET_KEY=

# BYBIT API KEY
BYBIT_API_KEY=
BYBIT_SECRET_KEY=



# LLM CONFIGURATION
LLM_PROVIDER=groq #local, #groq, #gemini, #deepseek
# LLM_MODEL: Ubah di sini untuk mengganti SEMUA model (News & Decision) sekaligus
LLM_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# Override model spesifik (opsional)
NEWS_SOCIAL_ANALYSIS_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
DECISION_LLM_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# local api base url
LOCAL_BASE_URL_LLM=localhost:1234



# GEMINI API KEY
GEMINI_API_KEY=

# GROQ API KEY
GROQ_API_KEY=

#DEEPSEEK API KEY
DEEPSEEK_API_KEY=



# telegram bot
TELEGRAM_BOT=

TELEGRAM_CHAT_ID=