# ─── BINANCE ─────────────────────────────────────────────────────────────────
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
BINANCE_TESTNET=true

# ─── BYBIT ───────────────────────────────────────────────────────────────────
BYBIT_API_KEY=
BYBIT_SECRET_KEY=
BYBIT_TESTNET=true

# ─── LLM ─────────────────────────────────────────────────────────────────────
LLM_PROVIDER=groq #groq. #gemini, #deepseek
LLM_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# Override model spesifik (opsional)
NEWS_SOCIAL_ANALYSIS_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
DECISION_LLM_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
LLM_SUMMARY_CANDLE_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
AUTOPSY_ANALYSIS_MODEL=meta-llama/llama-4-scout-17b-16e-instruct

# local api base url
LOCAL_BASE_URL_LLM=localhost:1234

# GEMINI API KEY
GEMINI_API_KEY=

# GROQ API KEY
GROQ_API_KEY=

# DEEPSEEK API KEY
DEEPSEEK_API_KEY=

# ─── TELEGRAM ────────────────────────────────────────────────────────────────
TELEGRAM_BOT=
TELEGRAM_CHAT_ID=

# ─── POSTGRESQL ──────────────────────────────────────────────────────────────
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=your-db
POSTGRES_USER=your-user
POSTGRES_PASSWORD=strong-password
